# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Package files
*.jar

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Maven
target/
dist/

# Unit test / reports
TEST*.xml
test-results/
coverage/

# keystore etc.
*.jks
keystore.properties
key.properties

gradle.properties

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Built application files
.gradle/
/build/
/*/build/

!gradle/wrapper/gradle-wrapper.jar

ehthumbs.db

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Firebase Crashlytics
crashlytics-build.properties
firebase-debug.log


# Local configuration file (sdk path, etc)
*.log
.cxx
/captures
.externalNativeBuild
local.properties
output.json
.signing/

*.apk
*.aab

app/release/